@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
  background-color: #f7fafc;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
